@import url(http://weloveiconfonts.com/api/?family=fontawesome);

body {
	width: 800px;
	margin: 0 auto;
}

.group:after 
{
  content: "";
  display: table;
  clear: both;
}

.modal
{
	margin:5px 0px;
	padding:5px;
	border-radius:5px;
}

.list
{
	width	:	300px;
	font-size:	18px;
	list-style-type:none;
	padding:0px;
}

.list a
{
	color:inherit;
	text-decoration:none;
}



.list li
{
	margin-bottom:6px;
}

.list li:nth-child(even)
{
	background-color:#eeeeee;
}

.todo:hover .text
{
	text-decoration:line-through;
}

.done:hover .text
 {
 	text-decoration:none;
 }

.delete
{
	float:right;
}



.icon:before
{
	font-family: 'FontAwesome', sans-serif;
}

.activate
{
	color:#999999;
	text-decoration:none;
}

.activate:hover
{
	color:#468847;
}

.done .text
{
	text-decoration:line-through;
}

.done .activate
{
	color:#468847;
}

.delete
{
	color:#b94a48;
}

.inputerror
{
	font-weight:bold;
	font-size:11px;
	color:#b94a48;
}